body{
	font-size: 20px;
	font-family: sans-serif;
}
h1{
	text-transform: uppercase;
	border-bottom: 2px solid black;
	padding-bottom: 20px;
}
h2{
	margin: 1.25%;
}
.img{
	height: 400px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.image {
height: 300px;

}
#huquq{
	text-align: center;
	font-size: 15px;
}
p{
	margin: 1.25%;
}
#paragraph{
	border-left: 5px solid sandybrown;
	padding-left: 10px;
}
#date{
	margin: 1.25%;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: darkblue;
}
.height{
	height: 300px;
	width: 22.5%;
	float: left;
	margin: 1.25%;
	background-size: cover;
	background-position: center;
}

.image1{
background-image: url(pr15.jpg);
}
.image2{
	background-image: url(pr16.jpg);
}
.image3{
	background-image: url(pr14.jpg);
}
.image4{
	background-image: url(pr9.jpg);
}
.image5{
	background-image: url(pr8.jpg);
}
.image6{
	background-image: url(pr13.jpg);
}
.image7{
	background-image: url(043.jpg);
}
.image8{
	background-image: url(2000.jpg);
}